# 构建产物与缓存
node_modules
.next
out
build
dist
.turbo

# 纯原子组件（避免格式化产生海量 diff）
packages/base/ui/src/components/ui/**
packages/ui/src/components/ui/**

# 数据库迁移与生成产物
*.generated.*
packages/db-tenant/prisma/schema.generated.prisma
packages/db-control/prisma/schema.generated.prisma
tooling/db-migrate/generated
pnpm-lock.yaml

# 环境变量与日志
.env
.env.*
*.log

# Git
.git
